body {
  font-family:'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d2d8e0;
  color: #333;
}

header {
  background: #4caf50;
  color:  whitesmoke;
  padding: .5rem;
  text-align: center;
}

#banner img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  margin-bottom: .1rem;
  display: block;
  border-radius: 1px;

}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

#products {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 250px;
  padding: 1rem;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.product-card h3 {
  margin: 0.9rem 0 0.7rem;
  color: #222;
}

.product-card p {
  font-size: 0.9rem;
}

.add-to-cart {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #e68900;
}

#cart {
  flex: 1;
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}

#cart h2 {
  margin-top: 0;
}

.buy-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.buy-btn:hover {
  background-color: #388e3c;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: white;
  margin-top: 2rem;
}

.shop-more-card {
  background: linear-gradient(136deg, #82d29fb3, #ba9d44);
  color: white;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shop-more-card h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.shop-more-card button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  background: rgb(164, 85, 85);
  color: #46361b;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.shop-more-card button:hover {
  background-color: #817158;
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #47a45a;
  color: white;
}

.logo {
  width: 99px;
  height: auto;
  margin-right: 1rem;
  border-radius: square;
}

.title {
  margin: 10;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  color: #a77e7e;

}

